/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom styles */

/* Basic styling */

body{
	/* background-color: aliceblue; */
	box-shadow: 1px 1px 1px 2px aliceblue,-1px -1px 1px 2px aliceblue;
	width: 90%;
	margin: auto;
}
.flex{
	display: flex;
}

/* Header */

header.container{
	width: 90%;
	margin: auto;
	/* padding: 10px 0px; */
	/* background-color: rgb(5, 5, 56); */
}
header .first {
	justify-content: space-between;
	padding: 20px 100px;
	background-color: rgb(5, 5, 56);
}
.first a{
	margin-right: 20px;
	color: white;
	text-decoration: none;
}
header .second{
	justify-content: space-between;
	padding: 20px 100px;
}
.second a{	
	margin-right: 20px;
	color: black;
	text-decoration: none;	
}
.second .btn{
	color: white;
}
.btn{
	display: inline-block;
	background-color: red;
	padding: 10px 20px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
}
.bcgimg{
	background-image: url("../media/hero/h1_hero.jpg");
	width: 90%;
	height: 500px;
	margin: auto;
	background-size: cover;
	align-items: center;
}
.bcgimg p{
	color: red;
	font-size: 14px;
}
.bcgimg h1{
	font-size: 36px;
	font-weight: bolder;
	width: 300px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.bcgimg div{
	margin-left: 250px;
}
.intro{
	width: 90%;
	/* height: 400px; */
	margin: auto;
	background-color: rgb(213, 219, 224);
}
.intro .flex{
	padding: 100px 290px;
}
.intr{
	justify-content: space-around;
}
.intr div{
	width: 260px;
	margin-right: 0px;
}
.intr h2{
	margin: 20px 0;
	font-size: 24px;
}
.intr p{
	font-size: 14px;
	line-height: 20px;
}
.intr img{
	width: 260px;
}
.teambcg{
	background-image: url("../media/team/wetrusted.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 350px;
	border: 1px solid white;

}
.team{
	padding: 100px 400px;
}
.team h2{
	font-size: 28px;
	font-weight: bolder;
	width: 70%;
}
.teambcg div{
	background-color: rgba(255,255,255,0.5);
	height: 260px;
	width: 370px;
	padding: 30px;
	margin-left: 350px;
	margin-top: 50px;
}
.teambcg p{
	font-size: 14px;
	margin: 30px 0;
}
.services h1{
	font-size: 36px;
	font-weight: bolder;
	text-align: center;
}
.parent{
	padding: 100px 400px;
	justify-content: space-between;	
}
.parent div{
	width: 22%;
}
.i{
	text-align: center;
	font-size: 30px;

}
.parent h2{
	font-size: 24px;
	margin: 20px 0;
}
.text{
	text-align: center;
	font-size: 11px;
}
.more{
	text-align: center;
}
.mo{
	background-color: white;
	border: 1px solid red;
	color: red;
}
.seemore{
	background-image: url("../media/case/completed_case_2.png");
	background-size: 338px;
	height: 350px;
	width: 50%;
	/* border: 1px solid black; */
	/* background-repeat: no-repeat; */
}
.see div{
	/* width: 50%; */
	margin: 100px 0;
	/* margin-left: 50px; */
}
.lft{
	width: 30%;
	padding: 50px 40px 0 280px;
}
.lft h2{
	font-size: 24px;
	font-weight: bolder;
}
.tex{
	/* font-size: 15px; */
	margin: 20px 0;
}
.new{
	text-align: left;
}
.se{
	margin: 100px 0;
}
.testemonial{
	justify-content: center;
}
h4{
	max-width: 400px;
	font-size: 20px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 30px;
}
.font{
	text-align: center;
	color: darkgoldenrod;
	margin-bottom: 20px;
	font-size: 14px;
}
.str{
	text-align: center;
}
.recent{
	padding: 150px 0px;
}
.recent h1{
	text-align: center;
	font-weight: bolder;
	font-size: 36px;
	margin-bottom: 100px;
}
.news{
	width: 70%;
	margin: auto;
	justify-content: space-between;
}
.renew p{
	color: red;
	margin: 20px;
}
p.date{
	margin-left: 20px;
	color: rgb(74, 119, 119);
}
.renew h2{
	font-size: 24px;
	width: 80%;
	margin-left: 20px;
}